body{
    background-image: url(texture.jpg);
    background-size: cover;
    font-family: arial;
}

h1{
    color: rgb(255, 140, 0);
    border: black 4px solid;
    width: 100%;
    text-align: center;
    font-size: 300%;
}

#apa{ 
  color: red; 
  text-align: center;
  font-size: 150%;
}

#ee{
    text-align: center;
    font-size: 180%;
}

#ce{
    text-align: center;
    font-size: 150%;
}

#lugares{
    text-align: center;
}

img{
    width: 10%;
}

